<!DOCTYPE html>
<html>
  <head>
    <title>用户登出</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>已登出</h1>
    <p><a href="/users/login">登录</a></p>
  </body>
</html>